.dynamic-menu {
    height: 1000px;
    margin: 200px 200px 200px 200px;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;

    > div {
        display: none;
    }
}
.dynamic-menu:has(article) {
    height: unset;
    animation: unset;
    margin: unset;
    border: unset;
    border-radius: unset;
    border-top: unset;
    width: unset;
    height: unset;
}

.loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }