footer {
  padding: 2rem;
  background-color: var(--brand-color);
  font-size: var(--body-font-size-s);
}

footer a:any-link {
  color: var(--background-color);
}

footer ul {
  padding: unset;
}

footer li {
  display: inline-block;
  padding: 10px;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
